.table {
  padding: 30px;
  margin-top: 40px;
  box-shadow: 3px 5px 20px 0px #0000000A;
  border-collapse: collapse;
  color: #545F7D;
  border: 1px solid #213F7D0F;
  position: relative;
  overflow: scroll;

  table {
    font-family: arial, sans-serif;
    width: 100%;

    tr:last-child {
      td {
        border-bottom: none;
      }
    }

    .table-header {
      text-transform: uppercase;
      font-family: Work Sans;
      font-size: 12px;
      font-weight: 600;
      line-height: 14.08px;
      text-align: left;
      position: relative;

      div {
        display: flex;
        align-items: center;
      }

      height: 16px;

      img {
        margin-left: 10px;
      }
    }

    td {
      border-bottom: 1px solid #dddddd;
      text-align: left;
      padding: 24px 0;
      font-family: Work Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.42px;
      text-align: left;
      position: relative;

      .status {
        border-radius: 100px;
        padding: 6px 12px;
      }
      
      @mixin status-color($color-background, $color-text) {
        background: $color-background;
        color: $color-text;
      }
      
      .Active {
        @include status-color(rgba(57, 205, 98, .06), rgba(57, 205, 98))
      }
      .Inactive {
        @include status-color(rgba(84, 95, 125, .06), rgba(84, 95, 125))
      }
      .Pending {
        @include status-color(rgba(233, 178, 0, .1), rgba(233, 178, 0));
      }
      .Blacklisted {
        @include status-color(rgba(228, 3, 59, .1), rgba(228, 3, 59,));
      }
    }
    
  }

  .cards {
    display: flex;
    justify-content: space-between;
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.modal-button {
  padding: 0;
  border: 0;
  background-color: inherit;
}

.pagination-container {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  gap: 20px;
  padding-left: 0;
  height: 100%;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.77px;
  text-align: left;


  li {
    margin: auto 0;
  }

  .pagination-page {
    color: rgba(84, 95, 125, .6);
  }
}

.pagination-previous, .pagination-next {
  background: rgba(33, 63, 125, 0.1);
  padding: 2px 8px 4px 8px;
  border-radius: 4px;
  color: rgba(33, 63, 125, 1);
}

.pagination-active {
  color: rgba(84, 95, 125, 1);
  opacity: 1;
}

.pagination-disabled {
  cursor: default;
  color: rgba(33, 63, 125, .6);
}
