
.container {

  display: flex;
  flex-direction: row;
  height: 100vh;

  .landing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding-bottom: 210px;

    .logo {
      padding-left: 97px;
    }
    
    .wallpaper {
      max-width: 600px;
      height: 100%;
      max-height: 337.57px;
      padding-left: 67px;
    }

    h1 {
      height: 55px;
      opacity: 0px;
      font-family: Avenir Next;
      font-size: 40px;
      font-weight: 700;
      line-height: 54.64px;
      letter-spacing: -0.04em;
      text-align: left;
      color: #213F7D;

    }
  }

	// max-width: 40em;
	// margin: 0 auto;	


	// @breakPoint: 500px;

	// @marginRoundSection: 2rem 2rem;
	
	// @marginSideParagraphAndList: 2rem;

	// header, footer {		
	// 	justify-content: flex-end;
	// 	.marginDisplaySection ();

	// 	nav {
	// 		a {
	// 			margin: 1rem;
	// 		}
			
	// 	}
	// }

	// section {

	// 	@media (max-width: @breakPoint) {
	// 		display: flex;
	// 		flex-direction: column;
	// 	}

	// 	justify-content: space-between;
	// 	.marginDisplaySection ();
		
	// 	div {
	// 		width: 40em;

	// 		@media (max-width: @breakPoint) {
	// 			width: 20rem;
	// 	}

	// 		ul {
	// 			margin-left: @marginSideParagraphAndList;

	// 			li {
	// 				margin: 0.3em 0;
	// 			}
	// 		}

	// 		p {
	// 			margin-right: @marginSideParagraphAndList;
	// 			}
	// 		}
	// 	}

	// 	h2 {
	// 		text-align: center;
	// 		font-size: 1.3rem;
	// 		margin-bottom: 0.5em;
	// 	}

	// 	table {
	// 		width: 100%;

	// 		th {
	// 			text-align: left;
	// 			.bold();
	// 		}
	// 	}


		
	// address {
	// 	margin: @marginRoundSection;

	// 	h2 {
	// 		.bold();
	// 	}

	// 	p {
	// 		margin: 0.5em 0;
	// 	}
	// }
}