$breakPointMobile: 600px;
$breakPointTab: 950px;

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  
  .logo {
    top: 106px;
    left: 97px;
    position: absolute;
  }
  .landing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding-bottom: 70px;

    @media (max-width: $breakPointTab) {
      display: none;
    }

    
    .wallpaper {
      max-width: 600px;
      height: 100%;
      max-height: 337.57px;
      padding-left: 67px;
    }

  }
  
  .form {
    padding-bottom: 100px;
    
    h1 {
      height: 55px;
      opacity: 0px;
      font-family: Avenir Next;
      font-size: 40px;
      font-weight: 700;
      line-height: 54.64px;
      letter-spacing: -0.04em;
      text-align: left;
      color: #213F7D;
      margin: 0;
    }

    span {
      font-family: Avenir Next;
      font-size: 20px;
      font-weight: 400;
      line-height: 27.32px;
      text-align: left;
      color: rgba(84, 95, 125, 1);
      margin: 10px 0 60px 0;
    }

    div {
      width: 100%;
      max-width: 429px;
    }

    box-shadow: 0px 15px 90px 0px #00000008;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
    @media (max-width: $breakPointTab) {
      width: 100%;
      padding: 10px;
    }

    input {
      width: 100%;
      height: 50px;
      border-radius: 5px;
      border: 2px 0px 0px 0px;
      padding-left: 12px;
      margin-top: 24px;
      box-sizing: border-box;
      border: 2px solid #545F7D26;
    }
    
    ::placeholder {
      font-family: Avenir Next;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.12px;
      text-align: left;

    }

    .forgot {
      font-family: Avenir Next;
      font-size: 12px;
      font-weight: 600;
      line-height: 16.39px;
      letter-spacing: 0.1em;
      text-align: left;
      color: #39CDCC;
      text-transform: uppercase;
      display: flex;
      width: 100%;
      margin-top: 24px;
      margin-bottom: 30px;
      background-color: white;
      height: auto;
    }

    button {
      width: 100%;
      height: 48px;
      border-radius: 8px;
      border: none;
      background-color: #39CDCC;
      font-family: Avenir Next;
      font-size: 14px;
      font-weight: 600;
      line-height: 19.12px;
      letter-spacing: 0.1em;
      text-align: center;
      color: #FFFFFF;
    }

    button:disabled {
      cursor: default;
      opacity: .6;
    }
  }
}
