.details {
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 4px;

  .details-header {
    display: flex;
    padding: 30px;
    padding-bottom: 51px;

    .details-header-right {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-left: 20px;
    }

    .details-header-right-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }
    
    .top-text {
      font-family: Work Sans;
      font-size: 22px;
      font-weight: 500;
      line-height: 25.81px;
      text-align: left;
      color: rgba(33, 63, 125, 1);
    }

    .bottom-text-code {
      font-family: Work Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.42px;
      text-align: left;
    }

    .bottom-text-account {
      font-family: Work Sans;
      font-size: 12px;
      font-weight: 400;
      line-height: 14.08px;
      text-align: left;
    }

    .star-container {
      border-left: 1px solid rgba(84, 95, 125, .2);
      border-right: 1px solid rgba(84, 95, 125, .2);
      padding: 0 30px;
      height: 80px;

      .stars {
        gap: 4px;
        display: flex;
      }

      .tier-text {
        font-family: Work Sans;
        font-size: 14px;
        font-weight: 500;
        line-height: 16.42px;
        text-align: left;
      }
    }
  }

  nav {
    padding: 0 36px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.8);
    font-family: SF Compact Text;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.09px;
    text-align: center;

    a {
      padding: 0 25px;
    }

    .active-nav {
      border-bottom: 2px solid rgba(57, 205, 204, 1);
      padding-bottom: 10px;
      color: rgba(57, 205, 204, 1);
    }
  }
}
