$breakPointMobile: 600px;
$breakPointTab: 950px;

.sidebar {
  min-width: 283px;
  padding-top: 40px;
  padding-bottom: 20px;
  box-shadow: 0px 5px 20px 0px #0000000A;

  @media (max-width: $breakPointTab) {
    position: fixed;
    background-color: white;
  }

  .row-option {
    display: flex;
    align-items: center;
    color: #213F7D;
    padding-left: 30px;
    padding-right: 30px;

    span {
      margin: 0 10px;
      font-family: Work Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.77px;
      text-align: left;
    }
  }

  .version {
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.08px;
    text-align: left;

  }

  .dashbord {
    margin-top: 52px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    text-align: left;
    opacity: 0.6;
  }

  .logout {
    opacity: 1;
    border-top: 1px solid rgba(33, 63, 125, .1);
    padding-top: 20px;
    margin-bottom: 40px;
  }

  .item {
    margin-top: 10px;
    padding: 12px 0;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    text-align: left;
    opacity: 0.6;
    padding-left: 30px;
    padding-right: 30px;
  }

  .active {
    background-color: rgba(57, 205, 204, .2);
    border-left: 3px solid #39CDCC;
    color: #213F7D;
    opacity: 1;
  }

  .section-head {
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.08px;
    text-align: left;
    color: #545F7D;
    margin-top: 28px;
    padding: 0 30px;
  }
}

.sidebar-control {
  position: absolute;
  top: 150px;
  left: 280px;
  cursor: pointer;

  @media (min-width: $breakPointTab) {
    display: none;
  }
}

.closed {
  left: 0px;
}

.sidebar-in {
  @media (min-width: $breakPointTab) {
    display: none;
  }
}